<%- include('header'); -%>

<center>
  <h2>This about page</h2>
</center>

<p>
  Esta Pagina fue realizada con la intencion de aprender la creacion de sitios web
</p>
<%- include('footer'); -%>
